{% extends 'main.html' %}

{% block content %}

<section id="content">
	<section class="container_12 clearfix">
		<section id="main" class="grid_9 push_3">
			<article id="dashboard">
				<h1>Users</h1>

				<h2>Create User</h2>
				<form method="POST" class="uniform" action="{% url create-user/radius user_n %}" > {% csrf_token %}
					<fieldset>
                    <legend>Internet Informations</legend>
                    
                    <dl class="inline">
                    <dt>
                     <h3>
                         <b>ID: {{user_n}}</b>
                     </h3>
                    </dt>
                    {% for field in form %}
                     <dt style='color:red; font-weight: bold;'>{{ field.errors }}</dt>                    
                    <dt><label> {{ field.label_tag }}: </label></dt>
                    
                    <dd>
                        {{ field }}
                        <small>{{ field.help_text }}</small>
                    </dd>
                    {% endfor %}
                    
                    <dd><dt><input type="submit" value="Submit" class="button"/></dt></dd>
                    </dl>
                    </fieldset>
                    
                </form>
				
			</article>
		</section>
{% endblock %}
