<li>
							<a href="#">
								<img src="/media/images/eleganticons/Config.png" />
								<span>Settings</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Piechart.png" />
								<span>Statistics</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Info.png" />
								<span>About</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Mail.png" />
								<span>Messages</span>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Paper.png" />
								<span>Articles</span>
							</a>
						</li>
						<li>
							<a href="/list/so/">
								<img src="/media/images/eleganticons/Paper-pencil.png" />
								<span>Service Order</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Speech-Bubble.png" />
								<span>Comments</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Photo.png" />
								<span>Photos</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/media/images/eleganticons/Folder.png" />
								<span>File Manager</span>
							</a>
						</li>