{% extends 'main.html' %}

{% block content %}
<section id="content">
	<section class="container_12 clearfix">
		<section id="main" class="grid_9 push_3">
			<article>
				<h1>Users</h1>
				
				<h2>Edit Users</h2>
				<table id="table2" class="gtable detailtable">
					<thead>
						<tr>
							<th><input type="checkbox" class="checkall" /></th>
							<th>Username</th>
							<th>Name</th>
							<th>CPF</th>
							<th>Address</th>
							<th>Edit</th>
							<th>Detail Order</th>
						</tr>
					</thead>
					
					{% for user in users_list %}
					<tbody>
						<tr>
							<td><input type="checkbox" /></td>
							<td>{{ user.username }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.cpf }}</td>
							<td>{{ user.address }}, {{ user.address_number }} </td>
							<td><a href="{% url edit-user/basic user.username %}" >Editar</a></td>
							<td>
								<a href="#" class="detail-link" id="detail">Detail</a>
							</td>
						</tr>
						<!--
						<tr class="detail">
							<td colspan="7">
								<table>
									<thead>
										<tr>
											<th>Product ID</th>
											<th>Product Name</th>
											<th>Unit Price</th>
											<th>Quantity</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>345</td>
											<td>Product 1</td>
											<td>10.14</td>
											<td>4</td>
											<td>40.56</td>
										</tr>
										<tr>
											<td>456</td>
											<td>Product 2</td>
											<td>10.14</td>
											<td>2</td>
											<td>20.28</td>
										</tr>
										<tr>
											<td>678</td>
											<td>Product 3</td>
											<td>10.14</td>
											<td>3</td>
											<td>30.42</td>
										</tr>
										<tr>
											<td>34</td>
											<td>Product 4</td>
											<td>10.14</td>
											<td>1</td>
											<td>10.14</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						-->
						
					</tbody>
					
					{% endfor %}
					
					
					<div class="tablefooter clearfix">
						<div class="actions">
							<select>
								<option>Action:</option>
								<option>Delete</option>
								<option>Move</option>
							</select>
							<button class="button small">Apply</button>
						</div>
						<div class="pagination">
							<!--<a href="#">Prev</a>-->
							<a href="#" class="current">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							...
							<a href="#">78</a>
							<a href="#">Next</a>
						</div>
					</div>
				</table>
			</article>
		</section>
		{% endblock %}